{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/basestyles.css' %}">

    <title>Blog app</title>
</head>
<body>
    <header><h1 ><a href="/">My personal blog</a></h1></header>
    <div class="container">
        {% if user.is_authenticated %}
        <p>You are logged in </p>
        <p>hey there: {{user.username}}</p>
        <p>Please <a href="{% url 'logout' %}">Logout</a> here</p>
        {% else %}
        <p>You are not logged in </p>
        <p>Please <a href="{% url 'login' %}">login</a> here</p>
        {% endif %}
        {% block content %}
        {% endblock content %}
    </div>
</body>
</html>